<?xml version = "1.0" encoding = "utf-8" ?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name = "Wimpy" >
          <resolver mode = "Pnrp" />
          <security mode = "None" >
            <transport credentialType = "Password" />
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint address = "net.p2p://Chat"
                binding = "netPeerTcpBinding"
                bindingConfiguration = "Wimpy"
                contract = "SecureIM.ChatBackend.IChatBackend"
                name = "ChatEndpoint"
                kind = ""
                endpointConfiguration = "" >
        <identity>
          <dns value = "localhost" />
          <certificateReference storeName = "My"
                                storeLocation = "LocalMachine"
                                x509FindType = "FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name = "SecureIM.ChatBackend.ChatBackend" >
        <endpoint address = "net.p2p://Chat"
                  binding = "netPeerTcpBinding"
                  bindingConfiguration = "Wimpy"
                  name = "Chat"
                  contract = "SecureIM.ChatBackend.IChatBackend" />
      </service>
    </services>
  </system.serviceModel>
</configuration>