<?xml version = "1.0" encoding = "utf-8" ?>

<configuration>
  <runtime>
    <assemblyBinding xmlns = "urn:schemas-microsoft-com:asm.v1" >
      <dependentAssembly>
        <assemblyIdentity name = "Microsoft.Practices.ServiceLocation"
                          publicKeyToken = "31bf3856ad364e35"
                          culture = "neutral" />
        <bindingRedirect oldVersion = "0.0.0.0-1.2.0.0"
                         newVersion = "1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version = "v4.0"
                      sku = ".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name = "Wimpy" >
          <resolver mode = "Pnrp" />
          <security mode = "None" >
            <transport credentialType = "Password" />
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint address = "net.p2p://Chat"
                binding = "netPeerTcpBinding"
                bindingConfiguration = "Wimpy"
                contract = "SecureIM.ChatBackend.IChatBackend"
                name = "ChatEndpoint"
                kind = ""
                endpointConfiguration = "" >
        <identity>
          <dns value = "localhost" />
          <certificateReference storeName = "My"
                                storeLocation = "LocalMachine"
                                x509FindType = "FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name = "SecureIM.ChatBackend.ChatBackend" >
        <endpoint address = "net.p2p://Chat"
                  binding = "netPeerTcpBinding"
                  bindingConfiguration = "Wimpy"
                  name = "Chat"
                  contract = "SecureIM.ChatBackend.IChatBackend" />
      </service>
    </services>
  </system.serviceModel>
</configuration>